.title{
  display:flex;
  justify-content: center;
  font-family: 'Cinzel', serif;
}
.bckColor{
  background-color: #FFF7F2;
}
nav {
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.container {
  position: relative;
  width:125px;
  display: inline-block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: tan;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: #75ABBC;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
}
img{
  height:100px;
  width:100px;
  object-fit:cover;
  border: 10px solid black;
  display:inline-block;
  display:flex;
justify-content: space-between;
}


<style>
div {
  background-color:#FFF7F2;
  padding: 20px;
  display: none;
}

span:hover + div {
  display: block;
/* a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline;
}
a:hover, a:active {
  background-color: grey;
} */
